<app-section [sectionTitle]="titles.topRated" [tabs]="tabs.topRated" (tabChange)="onTopRatedTabChange($event)">
  @for (album of mainTopRatedAlbums(); track album.id) {
    <app-album-card [albumCard]="album" />
  }
</app-section>

<app-section [sectionTitle]="titles.popularBands" [tabs]="tabs.popularBands" (tabChange)="onPopularBandsTabChange($event)">
  @for (band of mainPopularBands(); track band.id) {
    <app-band-card [bandCard]="band" />
  }
</app-section>

<app-section [sectionTitle]="titles.recentlyAdded" [tabs]="tabs.recentlyAdded" (tabChange)="onRecentlyAddedTabChange($event)">
  @if (recentlyAddedTab() === 0) {
    @for (album of mainRecentAlbums(); track album.id) {
      <app-album-card [albumCard]="album" />
    }
  } @else {
    @for (band of mainRecentBands(); track band.id) {
      <app-band-card [bandCard]="band" />
    }
  }
</app-section>

<app-section [sectionTitle]="titles.metalVideos" [tabs]="tabs.metalVideos" (tabChange)="onMetalVideosTabChange($event)">
  @for (band of mainRecentVideos(); track band.id) {
    <app-band-card [bandCard]="band" />
  }
</app-section>

<app-section [sectionTitle]="titles.upcomingReleases" [tabs]="tabs.upcomingReleases" (tabChange)="onUpcomingReleasesTabChange($event)">
  @for (album of mainUpcomingReleases(); track album.id) {
    <app-album-card [albumCard]="album" />
  }
</app-section>
