app-section:nth-of-type(2),
app-section:nth-of-type(4) {
  --min-card-width: 22.875rem;
}

app-section:nth-of-type(1),
app-section:nth-of-type(3),
app-section:nth-of-type(5) {
  --section-grid-columns: repeat(4, 1fr);

  @media (max-width: 74.75rem) {
    --section-grid-columns: repeat(2, 1fr);
  }

  @media (max-width: 37.5rem) {
    --section-grid-columns: 1fr;
  }
}

// 4 cols: last in each row = every 4th
app-album-card:nth-child(4n),
app-album-card:last-child {
  border-right: none;
}

// 2 cols: restore 4th, remove every 2nd
@media (max-width: 74.75rem) {
  app-album-card:nth-child(4n) {
    border-right: 1px solid var(--color-card-separator);
  }

  app-album-card:nth-child(2n) {
    border-right: none;
  }
}

// 1 col: no borders
@media (max-width: 37.5rem) {
  app-album-card:nth-child(n) {
    border-right: none;
  }
}

// 3 cols: last in each row = every 3rd
app-band-card:nth-child(3n),
app-band-card:last-child {
  border-right: none;
}

// 2 cols: restore 3rd, remove every 2nd and last-child
@media (max-width: 76rem) {
  app-band-card:nth-child(3n) {
    border-right: 1px solid var(--color-card-separator);
  }

  app-band-card:nth-child(2n),
  app-band-card:last-child {
    border-right: none;
  }
}

// 1 col: no borders
@media (max-width: 50.75rem) {
  app-band-card:nth-child(n) {
    border-right: none;
  }
}
