:host {
  display: block;
  grid-column: 1 / -1;
}

.slider {
  display: block;

  &__track {
    display: flex;
    gap: 0.625rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    flex: 1;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    flex: 0 0 calc(25% - 0.5rem);
    min-width: 0;
    scroll-snap-align: start;
  }

}
