@use 'app/shared/styles/color-variables' as *;
@use 'app/shared/styles/variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  font-family: inherit;
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-family-base);
  font-size: var(--font-size-md);
  line-height: var(--line-height-base);
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main, router-outlet + * {
  flex: 1;
}

body {
  scrollbar-gutter: stable;
}

html.scroll-locked,
html.scroll-locked body {
  overflow: hidden;
  touch-action: none;
}

.container {
  max-width: 90rem; // 1440px
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  padding: calc(4rem + 4.125rem) clamp(1rem, 4.86vw, 4.375rem) 6rem; // 4rem — висота хедера // 66px top, 70px sides at 1440px, 96px bottom

  // TODO: remove debug styles
  // outline: 2px dashed red;
  // min-height: 100vh;
}