<div class="section-container">
    @if (sectionTitle()) {
    <div class="section-header">
      <h1 class="section-title">{{ sectionTitle() }}</h1>
      <ng-content select="[sectionAction]"></ng-content>
    </div>
    }
    <div class="section-body">
        @if (tabs()) {
        <div class="section-tabs">
            <app-tabs [tabs]="tabs()!" [initialIndex]="initialTab()" (tabChange)="tabChange.emit($event)"></app-tabs>
        </div>
        }
        <div class="section-content" [style.--columns]="columns()">
            <ng-content></ng-content>
        </div>
    </div>
</div>
